<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin panel developed with the Bootstrap from Twitter.">
    <meta name="author" content="travis">

    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/site.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap-responsive.css}" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-fixed-top" th:fragment="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Course Management System</a>
            <div class="btn-group pull-right">
                <a class="btn" href="my-profile.html"><i class="icon-user"></i> Admin</a>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="my-profile.html">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="new-user.html">New User</a></li>
                            <li class="divider"></li>
                            <li><a href="users.html">Manage Users</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Roles <b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="new-role.html">New Role</a></li>
                            <li class="divider"></li>
                            <li><a href="roles.html">Manage Roles</a></li>
                        </ul>
                    </li>
                    <li><a href="stats.html">Stats</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3" th:fragment="menu">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header"><i class="icon-wrench"></i> Administration</li>
                    <!--修改菜单-->
                    <li class="active"><a href="users.html">Course Offerings</a></li>
                    <li><a href="roles.html">Advance System</a></li>
                    <!--暂时省略-->
                    <!--<li class="nav-header"><i class="icon-signal"></i> Statistics</li>-->
                    <!--<li><a href="stats.html">General</a></li>-->
                    <!--<li><a href="user-stats.html">Users</a></li>-->
                    <!--<li><a href="visitor-stats.html">Visitors</a></li>-->
                    <li class="nav-header"><i class="icon-user"></i> Profile</li>
                    <li><a href="my-profile.html">My profile</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </div>
        <!--占位符-->
    </div>

    <hr>

    <footer class="well" th:fragment="footer">
        &copy; Chenglong Ma - Team High Five @SEF
    </footer>

</div>

<script th:src="@{js/jquery.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>
<!--<div class="span9">-->

<!--<div class="row-fluid" hidden>-->
<!--<div class="span3">-->
<!--<h3>Total Users</h3>-->
<!--<p><a href="users.html" class="badge badge-inverse">563</a></p>-->
<!--</div>-->
<!--<div class="span3">-->
<!--<h3>New Users Today</h3>-->
<!--<p><a href="users.html" class="badge badge-inverse">8</a></p>-->
<!--</div>-->
<!--<div class="span3">-->
<!--<h3>Pending</h3>-->
<!--<p><a href="users.html" class="badge badge-inverse">2</a></p>-->
<!--</div>-->
<!--<div class="span3">-->
<!--<h3>Roles</h3>-->
<!--<p><a href="roles.html" class="badge badge-inverse">3</a></p>-->
<!--</div>-->
<!--</div>-->
<!--<br/>-->
<!--<div class="row-fluid" hidden="hidden">-->
<!--<div class="page-header">-->
<!--<h1>Pending Users-->
<!--<small>Approve or Reject</small>-->
<!--</h1>-->
<!--</div>-->
<!--<table class="table table-bordered">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>ID</th>-->
<!--<th>Name</th>-->
<!--<th>E-mail</th>-->
<!--<th>Phone</th>-->
<!--<th>City</th>-->
<!--<th>Role</th>-->
<!--<th>Status</th>-->
<!--<th>Actions</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr class="pending-user">-->
<!--<td>564</td>-->
<!--<td>John S. Schwab</td>-->
<!--<td>johnschwab@provider.com</td>-->
<!--<td>402-xxx-xxxx</td>-->
<!--<td>Bassett, NE</td>-->
<!--<td>User</td>-->
<!--<td><span class="label label-important">Inactive</span></td>-->
<!--<td><span class="user-actions"><a href="javascript:void(0);"-->
<!--class="label label-success">Approve</a> <a-->
<!--href="javascript:void(0);" class="label label-important">Reject</a></span></td>-->
<!--</tr>-->
<!--<tr class="pending-user">-->
<!--<td>565</td>-->
<!--<td>Juliana M. Sheffield</td>-->
<!--<td>julianasheffield@provider.com</td>-->
<!--<td>803-xxx-xxxx</td>-->
<!--<td>Columbia, SC</td>-->
<!--<td>User</td>-->
<!--<td><span class="label label-important">Inactive</span></td>-->
<!--<td><span class="user-actions"><a href="javascript:void(0);"-->
<!--class="label label-success">Approve</a> <a-->
<!--href="javascript:void(0);" class="label label-important">Reject</a></span></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->